<!-- Modal -->
<div class="modal fade" id="cash-payment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tunai </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="transID"></div>

        <form onsubmit=" return checkMinus()" action="/admin/transaction/payment_cash" method="POST" >
          <div class="modal-body">
            <div class="form-group">
              <label for="name">Uang yang diterima</label>
              <input type="number" class="form-control" id="paid"  onkeyup="giveValue(this.value)" name="paid" placeholder="Enter value"
                required />
            </div>
            <div class="form-group">
              <label for="name">Kembalian</label>
              <input type="text" class="form-control" id="changes" name="changes" placeholder="Enter value"  readonly="true"/>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-success btnTunai" id="uangpas" onclick="giveValue(this.value)" > Uang Pas </button>
                <button type="button" class="btn btn-success" id="price1" value=<%= trans.total >= 50000 ? 100000 : 50000 %> onclick="giveValue(this.value)"> <%= trans.total >= 50000 ? 100000 : 50000 %>  </button>
                <button type="button" class="btn btn-success" value = <%= trans.total >= 100000 ? 150000 : 150000 %> onclick="giveValue(this.value)" ><%= trans.total >= 150000 ? 150000 : 150000 %> </button>
                <button type="button" class="btn btn-success" value =<%= trans.total >= 200000 ? 300000 : 200000 %> onclick="giveValue(this.value)" ><%= trans.total >= 200000 ? 300000 : 200000 %> </button>
            </div>
            <input  type="hidden" class="id_transaction" name="id_transaction" >
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<script>
  function giveValue(val) {
       var total = document.getElementById('uangpas').value;
       let valMoney = document.getElementById("paid").value = val;
        var kembalian = valMoney - total ;
        document.getElementById("changes").value = kembalian;

    }
</script>

<script>
    function checkMinus(){
      let valChange = document.getElementById('changes').value;
      if (valChange < 0) {
        alert("Uang tidak mencukupi");
        return false;
    }
  }
</script>


