<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Struk Nusa</title>
        <link href="../../../sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    </head>
    <body style="border: 1px solid #4CAF50;">
        <div class="ticket">
            <div class="row">
                <div class="column1">
                    <img style="width: 150px;" src="http://localhost:3003/images/logoNusa.webp" alt="Logo">
                    <p>0896-7089-7089</p>
                    <p>Jl Raya cipadung no 46</p>
                </div>
                <div class="column2">
                    <h1 style="font-size: large;">INVOICE</h1>
                    <p><%= trans.invoice %></p>
                </div>
            </div>
            
                <div style="display: flex; margin-top: 10px;">
                    <div style="flex:25%;"> <i class="fas fa-user"></i> <%= trans.member_Id.name %> </div>
                    <div style="flex:25%;"><i class="fab fa-instagram-square"></i> <%= trans.member_Id.username_ig %> </div>
                    <div style="flex:25%;"> <i class="fas fa-calendar-plus"></i> <%= trans.start_date %> </div>
                    <div style="flex:25%;"> <i class="fas fa-clock"></i> <%= trans.date_transaction %> </div>
                </div> 
                <div style="display: flex; margin-top: 10px; margin-bottom: 20px;">
                    <div style="flex:25%;"> <i class="fas fa-phone-alt"></i> <%= trans.member_Id.no_hp %> </div>
                    <div style="flex:25%;"><i class="fas fa-id-card"></i> <%= trans.jaminan %> </div>
                    <div style="flex:25%;"> <i class="fas fa-calendar-minus"></i> <%= trans.end_date %> </div>
                    <div style="flex:25%;"> <i class="fas fa-users-cog"></i> <%= user.username %> </div>
                </div>           
          
                       
                    
                

                

            <table > 
                <thead>
                    <tr>
                        <th >PRODUCT</th>
                        <th >HARI</th>
                        <th >HARGA</th>
                    </tr>
                </thead>
                <tbody>
                   
                    <tr>
                        <td class="quantity"> <%= trans.days%></td>
                        <td class="description">ARDUINO UNO R3</td>
                        <td class="price">$25.00</td>
                    </tr>
                   
                </tbody>
            </table>
            <p class="centered">Thanks for your purchase!
                <br>parzibyte.me/blog</p>
        </div>
        <button id="btnPrint" class="hidden-print">Print</button>
        <script> 
            const $btnPrint = document.querySelector("#btnPrint");
            $btnPrint.addEventListener("click", () => {
                window.print();
            });
        
        </script>
    </body>


</html>


<style>
  * {
    font-size: 12px;
    font-family: 'arial';
}

td,
th,
tr,
.row {
  display: flex;
  border-bottom: 1px solid #000000;
}
.column1 {
  flex: 90%;
}

.column2 {
  flex: 10%;
}
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.description,
th.description {
    width: 75px;
    max-width: 75px;
}

td.quantity,
th.quantity {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

td.price,
th.price {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}
.imageIcon{
    width: 100px; 
    height: 100px; 
    border: #8000ff 3px solid;
}
.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 500px;
    max-width: 500px;
    border: #ffff00 3px solid;
}

img {
    max-width: inherit;
    width: inherit;
}

@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}
    </style>
