<%- include('../../partials/header.ejs') %>

<!-- Page Wrapper -->
<body id="page-top">
<div id="wrapper">

  <%- include('../../partials/sidebar.ejs') %>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <%- include('../../partials/navbar.ejs') %>

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <%- include('../../partials/message.ejs') %>

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Pilih Pembayaran</h1>
        <!-- End Heading -->

        <!-- nanti di sini diisi table nya -->
        <%- include('table_detailtransaction.ejs') %>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <%- include('../../partials/footer.ejs') %>

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>
<%- include('payment_transfer.ejs') %>
<%- include('payment_kasbon.ejs') %>
<%- include('payment_dp.ejs') %>
<%- include('payment_split.ejs') %>
<%- include('payment_cash.ejs') %>
<%- include('../../partials/js.ejs') %>
</body>


<!-- Bootstrap Date-Picker Plugin -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script> 

  <script>
    $(function () {
      $('#dateline').datepicker({
        format: "dd-M-yy",
        todayHighlight: 'TRUE',
        autoclose: true,
        minDate: 0,
        starend_date: new Date(),
        maxDate: '+1Y+6M'
      }).on('changeDate', function (ev) {
        $('#end_date').datepicker('setStarend_date', $("#dateline").val());
      });
    });

    $(function () {
      $('#datelineDP').datepicker({
        format: "dd-M-yy",
        todayHighlight: 'TRUE',
        autoclose: true,
        minDate: 0,
        starend_date: new Date(),
        maxDate: '+1Y+6M'
      }).on('changeDate', function (ev) {
        $('#end_date').datepicker('setStarend_date', $("#datelineDP").val());
      });
    });
  </script>

<script>
  // fungsi ini untuk passing data id transaction dan total bayar ke halaman payment cash
  $('#allbutton').on('click', '.tunai', function () {
    let total = $(this).data('total');
    let transaction_id = $(this).data('transaction_id');
    $('.id_transaction').val(transaction_id);
    $('.btnTunai').val(total);
  })
</script>




