
<!-- Gimana caranya sorting array based on date transaction? -->
<!-- data yang di sort berupa beberapa object yang di dalem nya terdapat array -->
<!-- beberapa object itu gue push ke dalem array dan baru di sorting  -->
<!-- sorting nya itu di kasih if dan flagging last 7 days dari index nya aja -->

<div>
    <div class="row">
        <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 20%">
          <i class="fa fa-calendar"></i>&nbsp;
          <span></span> <i class="fa fa-caret-down"></i>
        </div>
  </div>
  </div>
  
  
  
      <div class="tab-pane fade show active" id="show-kasbon" role="tabpanel" aria-labelledby="home-tab">
        <!-- DataTales Example -->
        <div class="card shadow mb-4 mt-2">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTableReportCustomer" width="100%" cellspacing="0">
                <thead>
                    <!-- pelanggan, no telpon  => table member -->
                    <!-- total kunjungan => ? -->
                    <!-- transaksi, kasbon => table transaksi -->
                    <!-- Total uang muka  => transaction detail yang populate table DP -->
                  <tr >
                    <th>No</th> 
                    <th>Pelanggan</th> 
                    <th>No telpon</th>
                    <th>Total Kunjungan</th> 
                    <th>Transaksi</th> 
                    <th>Kasbon</th> 
                    <th>Total Uang Muka</th> 
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let i = 0; i < member.length; i++) { %>
                    <%  var dataTransaction = member[i].transaction_Id%> 
                  <tr  >
                    <td><%= i + 1 %></td>
                    <td><%= member[i].name %></td>
                    <td><%= "0" +member[i].no_hp %></td>
                    <td>?</td>
                    <% let sumTotal = 0;%> 
                    <% let sumKasbon = 0;%> 
                    <% dataTransaction.forEach(element => {%> 
                      <% sumTotal+= element.total %> 
                      <% sumKasbon+= element.status === "KASBON" ?  element.kasbon : 0 %> 
                      <% }); %> 
                      <td><%= sumTotal%></td>
                      <td><%= sumKasbon%></td>
                      <td>?</td>
                      <td>
                        <a href=" " class="btn btn-success ">
                        Detail</a>
                      </td>
                    </tr>
                  <% }%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      
      </div>
  
  
  
  